body{width:100vw;
padding:0;
margin:0;}

.melynastekstas{
	color:#55A79A;
}

/*Virsutinio meniu divo apatinis borderis*/
.spalva{
border-bottom: 3px solid #55A79A;}

 .melynas{background:#55A79A;}

.marginas{margin-left:-2.75vw;
}

.marginasatitraukimas{margin-top:2vw;
}
 
/*Iterpiama linija ties dideliu ikonu meniu*/
 .coretekstas{background: url("bg_divider.png") right center repeat-x;

}

/*Divas su tekstu, kuris yra virs linijos*/
.baltasfonas{display:inline-block;
background:white;
padding-right:3vw;
}

/*Divas su tekstu, kuris yra virs linijos*/
.baltasfonas1{display:inline-block;
background:white;
padding-right:1vw;
}

/*Aprasomi dideli ikonai*/
.inp{font-size:5vw;
	color:#55A79A;
}

.rodyklele{position: relative;
float:right;
margin-top:1vw;}

/*Iterpiama linija ties JS meniu ir kontaktu headeriais*/
html body .coretekstas1{background: url("bg_divider.png") right center repeat-x;
padding:0;}

/*Paragrafu divui uzdedamas apatinis borderis*/
.paragrafai{border-bottom: 1px solid grey;}

/*Aorasomas Request zodzio pirmu triju raidziu span*/
.req{border-bottom: 3px solid white;
color:white;}

/*Aprasomas divas, kuriame yra forma*/
.formosdivas{background:#55A79A;
margin-bottom:2vw;
padding-bottom:1vw;
position:relative;
z-index: 1;
overflow: hidden;}

/*Aprasomas ikonas*/
.ikonas{position:absolute;
opacity: 0.4;
background-color:white;
color:#55A79A;
z-index: 1;
font-size: 120px;
transform: rotate(25deg);
padding:1vw;
margin-bottom:1vw;
border-radius: 15px;
}

/*Indeksas, kad padaryti ikona backgroundu, kad inputai ir tekstas butu virsuje*/
.indeksovirsus{z-index: 15;}

/*Prie kontaktu sekcijos liniju sulyginimas*/
html body .marginastopo{margin-top:-0.8vw;}


/*Virsutinio meniu containeris*/
html body .fiksuotas{z-index: 200;
padding:0;
margin:0;
}

/*Elipses (mygtuko) apsirasymas*/
/*div div .elipse{border-radius:40px;
color:white;
font-weight:bold;
margin-right:5vw;
padding:1vw;}*/


/*Virsutinio meniu row background spalva*/
.backgroundas{background:white;}

/*JS meniu laukeliai nerodomi*/
#myTabContent2, #myTabContent3, #myTabContent4{display:none;}

/*JS meniu linku vizualizacija kai neaktyvus*/
.linkasvizualiai{border-right:solid grey 1px;
}

/*JS meniu linku vizualizacija kai aktyvus*/
li.nav-item.dydis .active{border: solid grey 1px;
	border-right:none;
border-left:5px solid #55A79A;
color:#55A79A;
}


.kontentolygiuote{margin-left:1vw;
margin-right:1vw;}

.kontentoikonas{
float:right;
font-size:8em;
color:#55A79A;}

.dydis{width:14vw;}

.dydis, .pointeris:hover{cursor:pointer;}

.raides{font-size: 1.1em;
font-weight: bold;}





/*cia animacinis mygtukas*/


div [class*="BT"]{width:200px;
  overflow:hidden;
  display:block;
  position:relative;
  padding:0;
  padding-top:0.7vw;
  padding-bottom:0.7vw;
  border-radius: 40px;
  margin-top:2.25vw;
  float:right;
  outline:none;
  border:0;
  background-color:rgba(248, 249, 250, .8);
}

.mygtukotekstas{
font-weight: bold;}

[class*="BT"]:hover .mygtukotekstas{color:white;
font-weight: bold;
position:relative;
z-index: 80;
}


[class*="BT"]:hover{cursor:pointer;}

canvas{margin: 0;padding: 0;display:block;position:absolute;margin-top:-30px;z-index: 70;}






/*
#55A79A
rgba(248, 249, 250, .8)
*/
@media only screen and (max-width: 768px) {
    [class*="BT"] {
        left:-27%;
    }

    .dydis{width:100%;}
}